
  <form #programConfigurationViaCommunicationForm="ngForm" 
    (ngSubmit)="saveProgramConfiguration()" >

    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white">
        Configure Program
        <small>for CommId {{communication.id}}: {{communication.name}}</small>
      </h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="configureProgramModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <div class="form-group">
        <label for="programName">Choose Program</label>
        <select id="program" name="program" [(ngModel)]="selectedProgram" required>
          <option *ngFor="let p of programs" [ngValue]="p.id">{{p.name}}</option>
        </select>
      </div>
      <table class="table table-responsive table-sm table-striped table-bordered table-hover">
        <caption></caption>
        <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>N<small>ame</small></th>
            <th>E<small>mail</small></th>
            <th>IVR</th>
            <th>SMS</th>
            <th>M<small>ail</small></th>
            <th>M<small>obile</small></th>
            <th>M<small>andatory</small></th>
            <th>E<small>ffective</small></th>
            <th>E<small>xpiration</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pc of programConfigurations; let i = index" 
              [class.table-success]="i == lastPgmConfigRow">
            <td><span class="badge badge-secondary">{{pc.id}}</span></td>
            <td *ngIf="i !== lastPgmConfigRow">
                <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="pc.name" readonly
                id="pgmConfigName" aria-describedby="pgmConfigNamelHelp" placeholder="Enter Program Configuration Name">
            </td>
            <td *ngIf="i === lastPgmConfigRow">
              <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="pc.name" required
              id="pgmConfigName" aria-describedby="pgmConfigNamelHelp" placeholder="Enter Program Configuration Name">
            </td>
            <!-- TODO Make this custom select component NgModel aware
              http://blog.rangle.io/angular-2-ngmodel-and-custom-form-components/
              or http://almerosteyn.com/2016/04/linkup-custom-control-to-ngcontrol-ngmodel
            -->
            <td><select-channel-priority 
                  id="chanEmailPriority" name="chanEmailPriority" [(ngModel)]="pc.chanEmailPriority"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow" ></select-channel-priority></td>
            <td><select-channel-priority 
                  id="chanIvrPriority" name="chanIvrPriority" [(ngModel)]="pc.chanIvrPriority"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow" ></select-channel-priority></td>
            <td><select-channel-priority 
                  id="chanSmsPriority" name="chanSmsPriority" [(ngModel)]="pc.chanSmsPriority"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow" ></select-channel-priority></td>  
            <td><select-channel-priority 
                  id="chanMailPriority" name="chanMailPriority" [(ngModel)]="pc.chanMailPriority"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow" ></select-channel-priority></td> 
            <td><select-channel-priority 
                  id="chanMobilePriority" name="chanMobilePriority" [(ngModel)]="pc.chanMobilePriority"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow" ></select-channel-priority></td> 
            <td><select-channel-mandatory
                  id="chanMandatory" name="chanMandatory" [(ngModel)]="pc.chanMandatory"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow" ></select-channel-mandatory></td>
            <td><date-eff-exp
                  dateType="effective" [progConfig]="pc"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow"
                  (newDateValue)="updateDateValue($event, pc, 'effective')"></date-eff-exp></td>
            <td><date-eff-exp
                  dateType="expiration" [progConfig]="pc"
                  [i]="i" [lastPgmConfigRow]="lastPgmConfigRow"
                  (newDateValue)="updateDateValue($event, pc, 'expiration')"></date-eff-exp></td>
          </tr>
      </table>
    </div>

    <div class="modal-footer">
      <!-- https://github.com/twbs/bootstrap/issues/24413 -->
      <!--span class="mr-auto">Some instructional content or condition message goes here: {{newPgmConfig.effective}}</span-->
      <div class="w-100">
        <span class="float-left">Some instructional content or condition message goes here: {{newPgmConfig.effective}}</span>
        <div class="float-right">
            <button type="submit" class="btn btn-outline-dark" [disabled]="!programConfigurationViaCommunicationForm.valid">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="configureProgramModal.close('Close click')">Close</button>
        </div>
      </div>
      
    </div>
    
  </form>
