
<ng-template #popContent>
  <div class="w-100 outer-popover"
    (click)="onClick($event)"
    (appClickOutside)="onClickedOutside($event, p)"
    [attachOutsideOnClick]="attachOutsideOnClick"
    [delayClickOutsideInit]="delayClickOutsideInit"
    [clickOutsideEvents]="clickOutsideEvents"
    [exclude]="exclude"
    [excludeBeforeClick]="excludeBeforeClick">

    <div class="float-left inner-popover">
        <span class="badge badge-success clickable"
             (click)="configure(commId, 'program'); p.close();"
              title="Configure Program for CommId {{commId}}: {{commName}} ">
          Program</span></div>
    <div class="float-right inner-popover">
        <span class="badge badge-success clickable"
             (click)="configure(commId, 'clients'); p.close();"
              title="Configure Client(s) for CommId {{commId}}: {{commName}} ">
          Clients</span>
      </div>
  </div>
</ng-template>
<div [ngbPopover]="popContent"
     #p="ngbPopover"
     popoverTitle=""
     placement="left">
  <ng-content></ng-content>
</div>
