<h2>Programs</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Prog ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let program of programs" >
      <td><span class="badge">{{program.id}}</span></td>
      <td><span>{{program.name}}</span></td>
      <td><span>{{program.description}}</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
