<h4>Manage Programs
  <button class="btn btn-outline-dark btn-sm" (click)="addProgramModal()">Add</button>
</h4>
<table class="table table-responsive table-sm table-striped table-bordered table-hover">
  <caption>
    Programs define collections of Communications, each with a program-level configuration that 
    specify the (default) channel priority, if the comm is mandatory, with an effective and expiration date
  </caption>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let program of programs" >
      <th scope="row"><span class="badge badge-secondary">{{program.id}}</span></th>
      <td><span>{{program.name}}</span></td>
      <td><span>{{program.description}}</span></td>
      <td>
          <button class="btn btn-outline-dark btn-sm" 
            (click)="editProgramModal(program.id)">
            Edit
          </button>
          <button class="btn btn-outline-dark btn-sm" 
            (click)="deleteProgramModal(program.id)" >
            <!-- [disabled]="true">  because you would never really delete -->
            Delete
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
