<ng-template #popContent>
  <div class="w-100 outer-popover"
    (click)="onClick($event)"
    (appClickOutside)="onClickedOutside($event, p)"
    [attachOutsideOnClick]="attachOutsideOnClick"
    [delayClickOutsideInit]="delayClickOutsideInit"
    [clickOutsideEvents]="clickOutsideEvents"
    [exclude]="exclude"
    [excludeBeforeClick]="excludeBeforeClick">

  <div class="float-left inner-popover">
    <span class="badge badge-success clickable"
         (click)="configure(progId, 'edit'); p.close();"
          title="Configure/Edit Program {{progId}}: {{progName}} ">
      Edit</span></div>
  <div class="float-left inner-popover">
    <span class="badge badge-success clickable"
         (click)="configure(progId, 'delete'); p.close();"
          title="Delete Program {{progId}}: {{progName}} ">
      Delete</span></div>
  <div class="float-right inner-popover">
    <span class="badge badge-success clickable"
         (click)="configure(progId, 'communications'); p.close();"
          title="Configure Communications for Program {{progId}}: {{progName}} ">
      Communications</span></div>
</div>
</ng-template>
<div [ngbPopover]="popContent"
      #p="ngbPopover"
      popoverTitle=""
      placement="left">
  <ng-content></ng-content>
</div>