/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

/* http://getbootstrap.com/docs/4.0/content/typography/
@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
*/